.background {
  background: url("../../assets/background/Login.png") no-repeat fixed center;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
}
.title {
  width: 70%;
}
.title h1 {
  text-align: center;
  font-size: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.form {
  /* 	position: absolute;
	top: 20%;
	right: 20%; */
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  gap: 0.75rem;
}
.form div {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form h3 {
  text-align: center;
}
.form input {
  background: linear-gradient(
    152.76deg,
    rgba(255, 255, 255, 0.4) -4.16%,
    rgba(255, 255, 255, 0.61) -4.15%,
    rgba(255, 255, 255, 0.12) 113.42%
  );
  border-color: transparent;
  border-radius: 2rem;
  width: 100%;
  height: 1.5rem;
  padding: 1rem;
  font: inherit;
}
.switch {
  margin-top: 1rem;
}
.switch a {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.error {
  width: 100%;
  color: white;
  background-color: red;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
}
.message {
  width: 100%;
  color: white;
  background-color: green;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
}
.note {
  font-size: 0.75rem;
  color: rgb(229, 33, 33);
}
.required::after {
  content: "*";
  color: red;
}
