.page {
  margin: 5rem 1rem 5rem 6rem;
}
.content {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  gap: 2.5rem;
}
.welcomeCard {
  background-color: #c5e1a7;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  height: 250px;
  justify-content: center;
  align-items: center;
}
.welcomeCard .texts {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.welcomeCard .texts h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.welcomeCard .texts p {
  font-size: 22px;
  margin-bottom: 1rem;
}
.welcomeCard .hero img {
  width: 300px;
  height: auto;
}
.progressList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.totalProgress {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: 330px;
}
