.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #f6faef;
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 20px;
}
.title h3 {
  font-size: 1.5rem;
  text-align: center;
}
.progressList {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
.progressList > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: left;
  gap: 1rem;
}
.progressList > div > h4 {
  font-size: 1.2rem;
  text-align: left;
}
