.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container {
  border: 3px solid #c5e1a7;
  padding: 1rem 2rem;
  border-radius: 25px;
}

.page > h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
